<div class="containter">
  <div class="row">
    <div class="col-md-12">
      <h1>Equipment Generator</h1>
      <button type="button" class="btn btn-dark" (click)="getArmormat()">Material</button>
      <button type="button" class="btn btn-dark" (click)="getArmor()">Armor</button>
      <hr>
      <button type="button" class="btn btn-dark" (click)="getHand()">Hands</button>
      <button type="button" class="btn btn-dark" (click)="getWeapmat()">Material</button>
      <button type="button" class="btn btn-dark" (click)="getWeapon()">Melee Weapon</button>
      <hr>
      <button type="button" class="btn btn-dark" (click)="getShield()">Shield</button>
      <button type="button" class="btn btn-dark" (click)="getShieldmat()">Material</button>
      <hr>
      <button type="button" class="btn btn-dark" (click)="getRange()">Ranged Weapon</button>
      <hr>
      <button type="button" class="btn btn-dark" (click)="getGp()">Gold</button>
    </div>
  </div>
</div>

