<div class="containter">
  <div class="row">
    <div class="col-md-12">
      <h1>Class Generator</h1>
      <button type="button" class="btn btn-dark" (click)="getClass()">All Classes</button>
      <hr>
      <button type="button" class="btn btn-dark" (click)="getSmart()">Smart</button>
      <button type="button" class="btn btn-dark" (click)="getSmash()">Smash</button>
      <button type="button" class="btn btn-dark" (click)="getSneak()">Sneak</button>
      <button type="button" class="btn btn-dark" (click)="getSpell()">Spell</button>
    </div>
  </div>
</div>

