<div class="bg"> </div>
<app-header-gen></app-header-gen>

<div class="container">
  <div class="row">
    <div class="col-md-12">

      <main>
        <div class="row">
          <div class="col-md-6">
            <app-character></app-character>
          </div>
          <div class="col-md-6">
            <router-outlet></router-outlet>
          </div>
        </div>
      </main>
      <!-- <hr>
      <app-race-gen></app-race-gen>
      <app-class-gen></app-class-gen>
      <hr>
      <app-equip-gen></app-equip-gen>
      <hr>
      <app-special-gen></app-special-gen> -->

    </div>
  </div>
</div>
