<div  class="container">
  <h1>Character Details</h1>
  <hr>
  <h4>Race: {{color}} {{race}}</h4>
  <hr>
  <h4>Class: {{charClass}} {{smart}} {{smash}} {{sneak}} {{spell}}</h4>
  <hr>
  <h4>Equipment: </h4>
  <h4>{{armormat}} {{armor}}</h4>
  <h4>{{hand}} {{weapmat}} {{weapon}} </h4>
  <h4>{{shieldmat}} {{shield}}</h4>
  <h4>{{range}}</h4>
  <h4>{{gp}}</h4>
  <hr>

  <h4>Spells:</h4>
  <h4>{{cleric}} {{druid}} {{wizard}}</h4>
  <hr>
  <h4>Psionics: </h4>
  <h4>{{psionic}} </h4>
  <hr>
  <h4>Gifts & Curses</h4>
  <h4>{{gandc}}</h4>
  <hr>
</div>
<!-- <div class="container">
  <h1>Character Details</h1>
  <p>Race: {{character.race}}</p>
  <p>Class: {{character.charClass}}</p>
  <p>Equipment: {{character.equipment}}</p>
  <p>Special: {{character.special}}</p>

</div> -->
