/* You can add global styles to this file, and also import other style files */
/* @font-face {
  font-family: "zcool";
  src: local("zcool"), url(./assets/fonts/ZCOOLKuaiLe-Regular.ttf) format("truetype");
} */

* {
  font-family: 'ZCOOL KuaiLe', cursive;
}

/* * { background-color: black; } */

h1 {
  background: transparent;
  color: white;
}

h4 {
  background: transparent;
  color: white
}

