<div class="containter">
  <div class="row">
    <div class="col-md-12">
      <h1>Special Generator</h1>
      <h4>Spells</h4>
      <button type="button" class="btn btn-dark" (click)="getCleric()">Cleric</button>
      <button type="button" class="btn btn-dark" (click)="getDruid()">Druid</button>
      <button type="button" class="btn btn-dark" (click)="getWizard()">Wizard</button>
      <hr>
      <button type="button" class="btn btn-dark" (click)="getPsionic()">Psionics</button>
      <hr>

    </div>
  </div>
</div>

